.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 4rem 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}
.title > span {
  color: #0070f3;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.grid > form {
  width: 25.5rem;
}

.grid > form > button {
  background-color: #0070f3;
  border: 0;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font: 100 16px Arial;
  padding: .5rem;
  margin-top: 1rem;
  width: 100%;
}

.inputGroup {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
  width: 100%;
}

.inputGroup > label {
  font-size: 16px;
}
.inputGroup > input[type="text"],
.inputGroup > input[type="password"] {
  padding: 0.5rem;
  width: 70%;
}

.radioGroup {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}